---
import Layout from '../layouts/Layout.astro';
import ChatMessage from '../components/ChatMessage.astro';
import ChatInput from '../components/ChatInput.astro';
import { db, Messages, MyAssistant } from 'astro:db';
import { sendMessage } from './api/assistant';


const assistantCache = await db.select().from(MyAssistant).limit(1)
const assistant_id = assistantCache[0].assistant_id
const thread_id = assistantCache[0].thread_id
let assistant_response = ""


// Handle form submission on the server
if (Astro.request.method === 'POST') {
    const formData = await Astro.request.formData();
    const message = formData.get('message');

    if (message) {
        assistant_response = await sendMessage(message.toString(), thread_id, assistant_id, "chidera");

        await db.insert(Messages).values({
            message: message.toString(), // Ensure message is a string
            sender: 'You',
            timestamp: new Date(),
            isOwn: true,
        });


    console.log('message sent ------->');
    }

    await db.insert(Messages).values({
            message: assistant_response.response,
            sender: 'Assistant',
            timestamp: new Date(),
            isOwn: false,
        });
    
}



// Fetch messages from the database after potential insertion
const chat = await db.select().from(Messages);
---

<Layout>
    <div class="flex flex-col h-screen bg-gradient-to-br from-gray-50 to-gray-100">
        <header class="bg-white border-b border-gray-100 shadow-sm">
        <div class="flex items-center justify-between max-w-4xl mx-auto p-4">
            <h1 class="text-xl font-semibold bg-gradient-to-r from-amber-400 to-pink-500 bg-clip-text text-transparent">
            Gym Buddy
            </h1>
            <div class="text-sm text-gray-500 flex items-center">
            <span class="h-2 w-2 rounded-full bg-blue-500 inline-block mr-2 animate-pulse"></span>
            online
            </div>
        </div>
        </header>

        <div class="flex-1 overflow-y-auto p-4 max-w-4xl mx-auto w-full space-y-4 scrollbar-thin scrollbar-thumb-gray-300 scrollbar-track-transparent">
        {chat.map((msg) => <ChatMessage {...msg} />)}
        </div>

        <ChatInput />
    </div>
</Layout>