---
import { SignIn } from "@clerk/astro/components"
import Layout from "../layouts/Layout.astro";
Layout

const user = await Astro.locals.currentUser();

console.log('user', user?.firstName);

---


<Layout>
    <div>
        <h2> Login Server </h2>
        <SignIn/>
    </div>
</Layout>
